@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0.5px solid tomato;
}

body{
    background-color: var(--color-8);
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

header{
    /*background: red;*/
display: flex ;
justify-content: space-between;
flex-direction: row;
align-items: center; /*CENTRAR*/
padding-top: 20px;
padding-left: 15px;
padding-right: 15px;

}

.header_logo{
    /*background: blue;*/
    img 
    {

    }
}  
.header_nav{
    /*background: green;*/
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 54px;

    li  
    {
    list-style: none;
        a
            {
            font-family: "Poppins-SemiBold";
            color: var(--color-1);
            text-decoration: none;
            font-size: 28px;
            display: flex;
            }
    }
}
.header_menu
{
    /*background: violet;*/
}

main{
   /*background: green; */
   padding-top: 45px;
   padding-left: 75px;
   padding-right: 75px;

}
.section_container{  
        
        display: flex;
        justify-content: space-between;
        margin-top: 111px;

}


.article_jumping{
        /*background: violet;*/
        flex-direction: column;
        display: flex;
        width: 679px;
}
        
.article_jumping h1{
        color: var(--color-1);
        font-family: "Poppins-SemiBold";
        font-size: 120px;
        line-height: 91.4px;
            
}

.article_jumping p{

        margin-top: 26px;
        font-family: "Poppins-Medium";
        font-size: 24px;
        color: var(--color-6);
        line-height: 123%;


}

.div_buttons{
    /* background: rebeccapurple; */
    margin-top: 26px;
    display: flex;
    margin-top: 26px;
    gap: 38px;

}

.div_buttons a { 
    width: 264px;
    height: 86px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_buttons:hover a:hover{
    outline: none;
    backdrop-filter: blur(24px);
}

#reviews{
    /* background: blue; */
    /* height: 281px; */
    height: 221px;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 27px;
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	/* padding-bottom: calc(var(--cards) * var(--cardTopPadding)); */
	/* margin-bottom: var(--cardMargin); */
}

#reviews::-webkit-scrollbar {
    /* Oculta la barra de desplazamiento predeterminada */

    width: 10px; /* Ancho de la barra de desplazamiento */
}

#reviews::-webkit-scrollbar-track {
    /* Personaliza el riel de la barra de desplazamiento */

    background: transparent; /* Color del fondo */
}

#reviews::-webkit-scrollbar-thumb {
    /* Personaliza el 'thumb' de la barra de desplazamiento */

    background: var(--color-1); /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
}

#reviews::-webkit-scrollbar-thumb:hover {
    /* Estiliza el thumb cuando se pasa el cursor sobre él */

    background: var(--color-6);
    cursor: grab;
}

#reviews::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

#reviews::-webkit-scrollbar-button {
    /* Estiliza los botones de la barra de desplazamiento (si los hay) */

    display: none;
}

.div_reviews-container:nth-child(1){
    --index: 1;
}

.div_reviews-container:nth-child(2){
    --index: 2;
    /* top: 20px; */
}

.div_reviews-container:nth-child(3){
    --index: 3;
    /* top: 40px; */
}

.div_reviews-container:nth-child(4){
    --index: 4;
    /* top: 60px; */
}

.article_reviews {
    /* background: red; */
    overflow-y: auto;
}

.div_reviews-container {
    width: 345px;
    height: 202px;
    background: var(--color-1);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-5);
    position: sticky;
    top: 0px;
    padding-top: calc(var(--index) * var(--cardToppadding));
    z-index: var(--index);
}

.div_reviews-cards::after {
        content: "x";
        cursor: pointer;
        font-family: "Poppins-Medium";
        color: var(--color-1);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: var(--color-8);
        border: 1px solid var(--color-6);
        border-radius: 100%;
        left: -18px;
        top: -18px;
}

.div_reviews-profile {
    /* background: violet; */
    /* padding: 20px; */
    gap: 16px;
    display: flex;
}
.div_reviews-profile img {
    /* background: orange; */
    object-fit: contain;
    /* padding: 20px; */
}
.div_reviews-cards p{
    font-family: "Poppins-Medium";
    text-align: justify;
    margin-top: 12px;
    font-size: 18px;
    color: var(--color-7);
    width: 277px;
    
}
.div_reviews-rating {
    /* background: yellow; */
    /* padding: 20px; */
}
.div_reviews-rating h3{
    color: var(--color-2);
    font-family: "Poppins-Medium";
    font-size: 28px;
}
.div_reviews-stars {
    /* background: olive; */
    /* padding: 20px; */
}
.div_reviews-stars img{
    /* background: turquoise; */
    padding: 0;
}