@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0.5px solid tomato;
}

body{
    background-color: var(--color-8);
}

header{
    /*background: red;*/
display: flex ;
justify-content: space-between;
flex-direction: row;
align-items: center; /*CENTRAR*/
padding-top: 20px;
padding-left: 15px;
padding-right: 15px;

}

.header_logo{
    /*background: blue;*/
    img 
    {

    }
}  
.header_nav{
    /*background: green;*/
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 54px;

    li  
    {
    list-style: none;
        a
            {
            font-family: "Poppins-SemiBold";
            color: var(--color-1);
            text-decoration: none;
            font-size: 28px;
            display: flex;
            }
    }
}
.header_menu
{
    /*background: violet;*/
}

main{
   background: green;
   padding-top: 45px;
   padding-left: 75px;
   padding-right: 75px;

}
.section_container{  
        
        display: flex;
        justify-content: space-between;

}


.article_jumping{
        background: violet;
        flex-direction: column;
        display: flex;
        width: 679px;
}
        
.article_jumping h1{
        color: var(--color-1);
        font-family: "Poppins-SemiBold";
        font-size: 120px;
        line-height: 110px;
            
}
         
.div_buttons{
    background: rebeccapurple;
    display: flex;
   
}

.div_buttons a { 


}
